.form{
  &-group{
    display: flex;
    flex-direction: column;
  }
  &-label{
    @include font(12,18);
    @include xxl(){
      @include font(16,24);
    }
    font-weight: 400;
  }
  &-input{
    width: 100%;
    border-radius: 4px;
    padding: toRem(8);
    @include font(12,18);
    @include xxl(){
      @include font(16,24);
      padding: toRem(12);
    }
    border: none;
    box-sizing: border-box;
    background-color: #F8FAFC;
    &::placeholder{
      color: #B8BCCA;
      @include font(12,18);
      @include xxl(){
        @include font(16,24);
      }
    }
  }
}